.container {
	--width: 245px;
	position: relative;
	margin-top: 10px;
	width: var(--width);
}

.select {
	display: block;
	width: var(--width);
	border-radius: 3px;
	color: var(--off-white);
	background-color: var(--gray-dark);
	text-transform: capitalize;
	font-family: var(--karla);
	font-size: 16px;
	line-height: 1;
	padding: 7px 10px;
	cursor: pointer;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.icon {
	color: var(--off-white);
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	font-size: 14px;
}

@media (min-width: 64em) {
	.container {
		margin-top: 0;
		margin-inline: 10px;
	}
}
