.container {
	position: absolute;
	inset: 0 0 auto;
	z-index: 1;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	height: 225px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-inline: 20px;
	padding-block: 10px;
}

.imgCont {
	width: 75px;
}

.navFavoritesCont {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	height: 75px;
	gap: 16px;
}

.favorites {
	color: var(--off-white);
	font-family: var(--montserrat);
	font-size: 18px;
	line-height: calc(16 / 18);
}

.favorites span {
	display: none;
}

@media (min-width: 64em) {
	.container {
		padding-block: 20px;
		padding-inline: 60px;
		height: 179px;
	}

	.imgCont {
		width: 106px;
	}

	.navFavoritesCont {
		height: 83px;
		gap: 30px;
		flex-direction: row;
	}

	.favorites span {
		font-weight: 700;
		display: inline;
	}
}
