.container {
	--size: 35px;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background-color: var(--gray-dark);
	color: var(--off-white);
	font-size: 18px;
	display: grid;
	place-items: center;
	cursor: pointer;
}
